@charset "UTF-8";
nav {
	padding-left: 375px;
	padding-top: 0px;
	text-align: center;
	list-style-type: none;
	margin: 0;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	height: 15%;
}
.navlist {
	margin-left: -55px;
	padding-right: 50px;
	list-style-type: none;
	margin-right: 0px;
	overflow: hidden;
	padding-left: 0px;
	padding-top: 45px;
}
.navlistitem {
	float: left;
}
.navbar-nav {
	padding-bottom: 82px;
	padding-left: 0px;
}
.navlistitem a {
	padding-top: 14px;
	padding-right: 16px;
	padding-left: 16px;
	padding-bottom: 16px;
	color: #787878;
	text-decoration: none;
	display: block;
}
.navlistitem a:hover {
	color: #000000;
	background-color: #FFE01D;
}
body {
	height: 100%;
	font-family: actor;
	font-style: normal;
	font-weight: 400;
	background-image: url(images/beachNet.jpg);
	background-size: cover;
	margin: 0;
	background-attachment: fixed;
}
h1 {
	height: 1em;
	text-align: center;
	margin-top: 8px;
	margin-left: 31px;
	margin-bottom: -122px;
	font-family: "Yeah Papa";
	font-style: normal;
	font-size: 4em;
	line-height: 1em;
	font-weight: 400;
	color: #030303;
	padding-left: 0px;
}
h2 {
	text-align: right;
	margin-top: 114px;
	margin-right: 234px;
}
footer {
	width: 100%;
	height: 49px;
	padding-top: 13px;
	font-size: small;
	text-align: left;
	position: fixed;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,0.90) 58.95%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,0.90) 58.95%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,0.90) 58.95%);
	background-image: linear-gradient(180deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,0.90) 58.95%);
	margin-top: 0px;
	left: 0px;
	bottom: 0px;
	font-family: actor;
	font-style: normal;
	font-weight: 400;
}
header {
	margin-left: -250px;
	text-align: left;
	padding-right: 286px;
	margin-bottom: -194px;
	margin-top: -3px;
}
p {
	padding: 0;
	font-family: actor;
	font-style: normal;
	font-weight: 400;
	margin-top: 128px;
}
.p {
	margin-top: 0px;
	font-family: actor;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	text-align: center;
	color: #7C7C7C;
	text-indent: 0px;
}
.sectionRight {
	width: 55%;
	float: right;
	margin-right: 5%;
	margin-top: 10%;
	margin-left: 1%;
	padding-top: 2.5%;
	padding-right: 2.5%;
	padding-bottom: 2.5%;
	padding-left: 2.5%;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.84) 72.70%,rgba(255,255,255,0.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.84) 72.70%,rgba(255,255,255,0.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.84) 72.70%,rgba(255,255,255,0.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,255,255,0.84) 72.70%,rgba(255,255,255,0.00) 100%);
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	height: 0%;
}
body p {
}
img {
	left: 0px;
}
form {
	margin-top: 127px;
}
h3 {
	text-align: center;
	font-style: italic;
	font-size: small;
	color: #0046FF;
}
h4 {
	text-align: center;
}
.footertextLeft {
	margin-top: 11px;
	margin-left: 37px;
	color: #717171;
}
.footertextRight {
	text-align: right;
	margin-top: -26px;
	margin-right: 32px;
	color: #717171;
}
.image1 {
	margin-top: -3px;
	margin-left: 293px;
}
.image3 {
	text-align: right;
	margin-top: -316px;
	margin-right: 178px;
}
.image2 {
	margin-top: -241px;
	text-align: center;
	margin-left: 141px;
}
.image4 {
	margin-left: 110px;
	margin-top: 155px;
}
.image5 {
	margin-left: 121px;
	margin-top: 166px;
}
.link {
	padding-top: 0px;
}
.image6 {
	margin-left: 142px;
	margin-top: 217px;
}
.move {
	margin-top: 150px;
}
.image7 {
	margin-left: 73px;
	margin-top: 224px;
}
.image8 {
	margin-top: 191px;
	margin-left: 100px;
}
.list-group {
	margin-top: 135px;
	width: 100%;
	height: 0%;
}
.list-group-item-heading {
}
.list-group-item {
}
.banner {
	padding-left: 127px;
	margin-top: 50px;
}
.image9 {
	margin-top: 167px;
	margin-left: 140px;
	text-align: center;
}
