@charset "UTF-8";
nav {
	padding-left: 375px;
	padding-top: 45px;
	text-align: center;
	list-style-type: none;
	margin: 0;
	background-color: #FFFFFF;
	padding-bottom: 0px; 
}
.navlist {
	margin-left: -110px;
	padding-right: 50px;
	list-style-type: none;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	overflow: hidden;
	padding-left: 0px;
}
.navlistitem {
	float: left;
}
.navlistitem a {
	padding-top: 14px;
	padding-right: 16px;
	padding-left: 16px;
	padding-bottom: 16px;
	color: #787878;
	text-decoration: none;
	display: block;
}
.navlistitem a:hover {
	color: #000000;
	background-color: #FFE01D;
}
body {
	height: 100%;
	font-family: actor;
	font-style: normal;
	font-weight: 400;
	background-image: url(images/beachNet.jpg);
	background-size: cover;
	margin: 0;
	background-attachment: fixed;
}
h1 {
	height: 1em;
	text-align: center;
	margin-top: 103px;
	margin-left: 38px;
	margin-bottom: -122px;
	font-family: "Yeah Papa";
	font-style: normal;
	font-size: 4em;
	line-height: 1em;
	font-weight: 400;
	color: #FFFFFF;
}
footer {
	width: 100%;
	height: 75px;
	padding-top: 38px;
	font-size: small;
	text-align: center;
	position: fixed;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,0.00) 0%,rgba(255,255,255,1.00) 100%);
	margin-top: 0px;
	left: 0px;
	bottom: 0px;
}
header {
	margin-top: -93px;
	margin-left: 72px;
	text-align: left;
}
p {
	padding: 0;
}
